name = "dnd-pwa"
compatibility_date = "2025-11-09"

main = "worker.js"

[assets]
directory = "./dist"
binding = "ASSETS"

[[routes]]
pattern = "dnd.gwyn.tel"
custom_domain = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
